/*=================*/
/* CSS Variables */
/*=================*/

/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Manrope');

html{

    font-family: Manrope;

    /* Primary Colors */
    --Full-Slider-Bar: hsl(174, 77%, 80%);
    --Slider-Backround: hsl(174, 86%, 45%);
    --Discount-Background: hsl(14, 92%, 95%);
    --Discount-Text: hsl(15, 100%, 70%);
    --CTA-Text: hsl(226, 100%, 87%);    

    /* Secondary Colors */
    --Pricing-Component-Background: hsl(0, 0%, 100%);
    --Main-Background: hsl(230, 100%, 99%);
    --Empty-Slider-Bar: hsl(224, 65%, 95%);
    --Toggle-Background: hsl(223, 50%, 87%);
    --Text: hsl(225, 20%, 60%);
    --Text-and-CTA-Background: hsl(227, 35%, 25%);

    /* Font Size */
    --Intro-Paragraph-Font: 15px;

    /* Font Weights */ 
    --font-weight-sm: 400;
    --font-weight-md: 600;
    --font-weight-lg: 800;

    /* 
    Page sizes: 
    - Mobile: 375px
    - Desktop: 1440px
    */
}
body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: rgb(241, 245, 255);
}

h1, h2, h3, h4, h5, h6, p, small{
    margin: 0;
    font-weight: var(--font-weight-md);
}
h1{
    color: var(--Text-and-CTA-Background);
}
p, small{
    color: var(--Text);
}


/*=============*/
/* Page Styles */
/*=============*/

.main{
    display: flex;
    justify-content: center;
    height: 95%;
    width: 100%;
}
.centered-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 620px;
}
.header{
    margin-bottom: 80px;
}
.header > h1, p{
    text-align: center;
    margin-bottom: 10px;
}
.content{
    height: 400px;
    width: 600px;
    border-radius: 10px;
    background-color: var(--Pricing-Component-Background);
}

/* Top of box */
.content-top{
    height: 65%;
    width: 100%;
    border-bottom: solid 1px rgb(236, 236, 236);
}
.top-header{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.top-header > p{
    margin-left: 10%;
}
.top-price{
    height: fit-content;
    width: fit;
    display: flex;
    align-items: center;
    margin-right: 10%;
}
.top-price>h1{
    font-size: 2.4rem;
}
.top-price > p{
    margin: 0;
    margin-left: 5px;
}

.top-bar{
    height: 25%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.slider{
    -webkit-appearance: none;
    outline: none;
    width: 80%;
    height: 10px;
    border-radius: 10px;
    margin-bottom: 18px;
    background-color: var(--Empty-Slider-Bar);
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    background: url('./images/icon-slider.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-color: var(--Slider-Backround);
}

.top-billing{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 38.5%;
}
.toggle{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    width: 30px;
    height: 20px;
    padding: 0px 3px;
    margin: 0px 10px;
    border-radius: 20px;
    background: var(--Slider-Backround);
}
.toggle-inactive{
    display: flex;
    justify-content: flex-end;
    background: var(--Toggle-Background);
}
.switch{
    height: 14px;
    width: 14px;
    border-radius: 99%;
    background-color: white;
}
#discount{
    font-size: .65rem;
    margin-left: 12px;
    padding: 3px 6px;
    border-radius: 20px;
    color: var(--Discount-Text);
    background: var(--Discount-Background);
}

/* Bottom of box */
.content-bot{
    height: 35%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.bot-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 55%;
    width: 180px;
    margin-left: 10%;
}
.check{
    margin-right: 10px;
}
.bot-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 180px;
    margin-right: 10%;
    text-decoration: none;
    background: var(--Text-and-CTA-Background);
    border-radius: 30px;
    cursor: pointer;
}
.bot-btn > small{
    color: white;
}
.bot-btn:active{
    transform: scale(.95);
}

/* Atrtibutions (footer): Frontend Mentor */
.attribution{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
}