/*=================*/
/* CSS Variables */
/*=================*/

/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Manrope');

html{

    font-family: Manrope;

    /* Primary Colors */
    --Full-Slider-Bar: hsl(174, 77%, 80%);
    --Slider-Backround: hsl(174, 86%, 45%);
    --Discount-Background: hsl(14, 92%, 95%);
    --Discount-Text: hsl(15, 100%, 70%);
    --CTA-Text: hsl(226, 100%, 87%);    

    /* Secondary Colors */
    --Pricing-Component-Background: hsl(0, 0%, 100%);
    --Main-Background: hsl(230, 100%, 99%);
    --Empty-Slider-Bar: hsl(224, 65%, 95%);
    --Toggle-Background: hsl(223, 50%, 87%);
    --Text: hsl(225, 20%, 60%);
    --Text-and-CTA-Background: hsl(227, 35%, 25%);

    /* Font Size */
    --Intro-Paragraph-Font: 15px;

    /* Font Weights */ 
    --font-weight-sm: 400;
    --font-weight-md: 600;
    --font-weight-lg: 800;

    /* 
    Page sizes: 
    - Mobile: 375px
    - Desktop: 1440px
    */
}
body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: rgb(241, 245, 255);
}

h1, h2, h3, h4, h5, h6, p, small{
    margin: 0;
    font-weight: var(--font-weight-md);
}


/*=============*/
/* Page Styles */
/*=============*/

.main{
    display: flex;
    justify-content: center;
    height: 95%;
    width: 100%;
}
.centered-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 620px;
}
.header{
    margin-bottom: 80px;
}
.header > h1, p{
    text-align: center;
    margin-bottom: 10px;
}
.content{
    height: 400px;
    width: 600px;
    border-radius: 10px;
    background-color: var(--Pricing-Component-Background);
}
.content-top{
    height: 65%;
    width: 100%;
    border-bottom: solid 1px rgb(236, 236, 236);
}


.content-bot{
    height: 35%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.bot-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 55%;
    width: 180px;
    margin-left: 10%;
}
.check{
    margin-right: 10px;
}
.bot-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 180px;
    margin-right: 10%;
    text-decoration: none;
    color: white;
    background: var(--Text-and-CTA-Background);
    border-radius: 30px;
    cursor: pointer;
}
.bot-btn:active{
    transform: scale(.95);
}

/* Atrtibutions: Frontend Mentor */
.attribution{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
}